* body{
    padding: 0;
    margin: 0;
}
.conteiner{
    background: #f4f4f4; 
}
.bcg{
    padding: 40px 0 40px 0;
    width: 100%;

  background:  #EF33B4 ;
}
.span1{
    color: #fff;
    font-weight: 700;
    text-align: center;
    font-family: 'Ubuntu';
font-style: normal;
font-size: 26px;
}
.p1{
     width: 70%;
     margin-left: 200px;
    font-family: 'Roboto';
    font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;
text-align: center;
color:#fff;

}

.icon1{
    position: absolute;
    left: 20%;
    bottom: 0;
    top: 40%;
}
.cap1{
    position: absolute;
    left: 16%;
    top: 55%;
    bottom: 0; 
    color: #4D4D4D; 
    font-family: 'Ubuntu'; 
}
.p2{
    position: absolute;
   top:10%;
   line-height: 1.4;
   text-align: center;
   font-family: 'Roboto';
   font-style: normal;
   color: #808080

}
.icon2{
    position: absolute;
    left: 50%;
    bottom: 0;
    top: 40%;
}
.cap2{
    position: absolute;
    left: 45%;
    top: 55%;
    bottom: 0; 
    color: #4D4D4D; 
    font-family: 'Ubuntu';   
}
.p3{
    position: absolute;
    top:10%;
    line-height: 1.4;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    color: #808080
}
.icon3{
    position: absolute;
    width: 100%;
    left:80%;
    bottom: 0;
    top: 40%;  
  
}
.cap3{
    position: absolute;
    left: -5%;
    top: 25%;
    bottom: 0; 
    color: #4D4D4D; 
    font-family: 'Ubuntu'; 
}
.p4{
    position: absolute;
    top:10%;
    line-height: 1.4;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    color: #808080
}
.icon4{
    position: absolute;
    width: 100%;
    left:20%;
    bottom: 0;
    top: 90%; 
}
.cap4{
    position: absolute;
    left: -4%;
    top: 150%; 
    color: #4D4D4D; 
    font-family: 'Ubuntu'; 
}
.p5{
    position: absolute;
    top: 170%;
    line-height: 1.4;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    color: #808080 
}

.icon5{
    position: absolute;
    width: 100%;
    left:50%;
    bottom: 0;
    top: 90%; 
}
.cap5{
    position: absolute;
    left: -4%;
    top: 150%; 
    color: #4D4D4D; 
    font-family: 'Ubuntu';
}
.p6{
    position: absolute;
    top: 170%;
    line-height: 1.4;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    color: #808080 
}
.icon6{
    position: absolute;
    width: 100%;
    left:80%;
    bottom: 0;
    top: 90%;
}
.cap6{
    position: absolute;
    left: -4%;
    top: 150%; 
    color: #4D4D4D; 
    font-family: 'Ubuntu';
}
.p7{
    position: absolute;
    top: 170%;
    line-height: 1.4;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    color: #808080 
}

.border{
    
    margin-left: 150px;
    margin-top: 880px;
    width: 80%;
    background-color: rgba(235, 240, 255, 1);
    padding:70px 0 70px 0 ;
    border: 2px dashed #3B72FF;
    border-radius: 20px;
}

.borderp1{
    font-family: 'Barlow';
    font-style: normal;
    text-transform: capitalize;
    color: #EF33B4;
    text-align: center;
    font-size: 24px;
    
}
.borderp2{
   font-family: 'Roboto';
   font-style: normal;
   line-height: 130%;
   text-align: center; 
   font-size: 20px;
   color: rgba(59, 114, 255, 1);
   padding: 0 150px 0 150px;

}

.image{
    margin-top: 50px;
    text-align:right ;
   
}
.header{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 130%; 
    width: 30%; 
    position: absolute;
    bottom:0;
    top: 1350px;
    margin-left: 150px;
    color: #EF33B4;
}
.hicon1{
    padding-top: 56px;
    
}
.h1{
    width: 60%;
   position: absolute;
   left: 10px;
   bottom: -140px;
   font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
 color:rgba(77, 77, 77, 1);
}
.headerp1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #808080;
    width: 70%;
    margin-top: 15px;
}
.hicon2{
    position: absolute;
    bottom: 0;
    top: 90px;
    left: 100%;
}
.h2{
    width: 200%;
    position: absolute;
    left: 10px;
    font-family: 'Ubuntu';
   font-style: normal;
   font-weight: 700;
   font-size: 18px;
   line-height: 130%;
  color:rgba(77, 77, 77, 1);
  
}
.headerp2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #808080;
    width: 240%;
    margin-top: 10px;
}
.hicon3{
    padding-top: 70px;
}
.h3{
    width: 40%;
    position: absolute;
    left: 10px;
    font-family: 'Ubuntu';
   font-style: normal;
   font-weight: 700;
   font-size: 18px;
   line-height: 130%;
  color:rgba(77, 77, 77, 1);
}
.headerp3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #808080;
    width: 70%;
    margin-top: 15px;
} 
.hicon4{
    position: absolute;
    bottom: 0;
    top: 360px;
    left: 100%;
}
.h4{
    width: 200%;
    position: absolute;
    left: 10px;
    font-family: 'Ubuntu';
   font-style: normal;
   font-weight: 700;
   font-size: 18px;
   line-height: 130%;
  color:rgba(77, 77, 77, 1);
  
}
.headerp4{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #808080;
    width: 270%;
    margin-top: 15px;
}
.hicon5{
    padding-top: 70px;
}
.h5{
    width: 50%;
    position: absolute;
    left: 10px;
    font-family: 'Ubuntu';
   font-style: normal;
   font-weight: 700;
   font-size: 18px;
   line-height: 130%;
  color:rgba(77, 77, 77, 1);
}
.headerp5{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #808080;
    width: 70%;
    margin-top: 15px;
} 
.hicon6{
    position: absolute;
    bottom: 0;
    top: 630px;
    left: 100%;
}
.h6{
    width: 200%;
    position: absolute;
    left: 10px;
    font-family: 'Ubuntu';
   font-style: normal;
   font-weight: 700;
   font-size: 18px;
   line-height: 130%;
  color:rgba(77, 77, 77, 1);
  
}
.headerp6{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #808080;
    width: 270%;
    margin-top: 15px;
}

